<a href="https://colab.research.google.com/github/st-sashou/ai_experimental/blob/master/LSTM%E4%BB%96%E3%82%AF%E3%83%A9%E3%82%B9%E5%88%86%E9%A1%9E.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# データ前処理

Google Driveのフォルダをマウントする。

In [1]:
from google.colab import drive

drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Kaggleから取得した睡眠データを使用する。

In [2]:
!ls -al '/content/drive/My Drive/Colab Notebooks/ST/My Test LSTM Multi Classification'

total 258
-rw------- 1 root root 195866 Apr 17 08:06 LSTM他クラス分類.ipynb
-rw------- 1 root root  67692 Apr 16 05:10 sleepdata.csv

In [3]:
import pandas as pd

INPUT_FILE = '/content/drive/My Drive/Colab Notebooks/ST/My Test LSTM Multi Classification/sleepdata.csv'
df = pd.read_table(INPUT_FILE, sep=';')
df

,Start,End,Sleep quality,Time in bed,Wake up,Sleep Notes,Heart rate,Activity (steps)
0,2014-12-29 22:57:49,2014-12-30 07:30:13,100%,8:32,:),NaN,59.0,0
1,2014-12-30 21:17:50,2014-12-30 21:33:54,3%,0:16,:|,Stressful day,72.0,0
2,2014-12-30 22:42:49,2014-12-31 07:13:31,98%,8:30,:|,NaN,57.0,0
3,2014-12-31 22:31:01,2015-01-01 06:03:01,65%,7:32,NaN,NaN,NaN,0
4,2015-01-01 22:12:10,2015-01-02 04:56:35,72%,6:44,:),Drank coffee:Drank tea,68.0,0
5,2015-01-03 00:34:57,2015-01-03 07:47:23,83%,7:12,:),Drank coffee:Drank tea,60.0,0
6,2015-01-04 00:23:06,2015-01-04 07:37:09,78%,7:14,NaN,Drank tea,NaN,0
7,2015-01-04 21:34:44,2015-01-05 04:53:34,78%,7:18,:),Ate late:Drank coffee,57.0,0
8,2015-01-05 21:32:25,2015-01-06 05:00:03,69%,7:27,:),Drank coffee:Drank tea:Worked out,56.0,0
9,2015-01-06 21:24:56,2015-01-07 05:00:02,74%,7:35,:|,Drank tea:Worked out,64.0,0
10,2015-01-07 20:59:58,2015-01-08 06:19:20,81%,9:19,:),Drank coffee:Drank tea:Stressful day,62.0,0
11,2015-01-08 22:58:18,2015-01-09 06:14:58,88%,7:16,:),Drank coffee:Drank tea,58.0,0
12,2015-01-09 22:27:58,2015-01-10 07:29:00,77%,9:01,:|,Drank coffee:Drank tea,65.0,0
13,2015-01-10 22:38:24,2015-01-11 07:28:59,89%,8:50,:|,Drank coffee:Drank tea,65.0,0
14,2015-01-11 22:12:07,2015-01-12 06:20:29,78%,8:08,:),Drank tea,53.0,0
15,2015-01-12 21:01:46,2015-01-13 06:13:23,100%,9:11,:),Drank tea:Worked out,65.0,0
16,2015-01-13 22:14:29,2015-01-14 06:20:33,100%,8:06,:),Drank coffee:Drank tea,55.0,0
17,2015-01-14 21:48:26,2015-01-15 05:02:05,88%,7:13,:),Drank coffee:Drank tea:Worked out,60.0,0
18,2015-01-15 21:32:07,2015-01-16 04:54:42,87%,7:22,:),Drank tea,60.0,0
19,2015-01-17 02:11:57,2015-01-17 09:03:37,83%,6:51,:),Drank coffee:Drank tea,94.0,0
20,2015-01-17 23:55:16,2015-01-18 07:47:15,93%,7:51,:),Drank coffee:Drank tea,57.0,0
21,2015-01-18 21:51:53,2015-01-19 05:04:18,58%,7:12,:),Drank coffee,67.0,0
22,2015-01-19 05:06:38,2015-01-19 06:20:29,16%,1:13,:),NaN,58.0,0
23,2015-01-19 21:45:19,2015-01-20 05:45:37,75%,8:00,:|,Drank coffee:Drank tea:Worked out,54.0,0
24,2015-01-20 21:42:37,2015-01-21 05:45:22,80%,8:02,:|,Drank coffee:Drank tea:Worked out,60.0,0
25,2015-01-21 22:34:35,2015-01-22 06:17:22,87%,7:42,:),Drank coffee:Drank tea:Worked out,75.0,0
26,2015-01-25 20:55:02,2015-01-26 06:14:59,87%,9:19,:),Drank coffee,58.0,0
27,2015-01-26 22:36:21,2015-01-27 06:11:49,83%,7:35,:|,Drank coffee:Drank tea:Stressful day,66.0,0
28,2015-01-28 21:43:16,2015-01-29 05:20:42,76%,7:37,:),Drank coffee:Drank tea:Stressful day,57.0,0
29,2015-01-29 22:23:40,2015-01-30 05:29:11,67%,7:05,:),Drank coffee:Drank tea:Worked out,63.0,0
...,...,...,...,...,...,...,...,...
857,2018-01-18 22:46:26,2018-01-19 06:48:42,59%,8:02,NaN,NaN,NaN,9516
858,2018-01-19 22:21:24,2018-01-20 08:22:57,71%,10:01,NaN,NaN,NaN,4454
859,2018-01-20 23:44:10,2018-01-21 07:01:39,67%,7:17,NaN,NaN,NaN,7253
860,2018-01-21 22:04:55,2018-01-22 06:01:48,84%,7:56,NaN,NaN,NaN,22
861,2018-01-22 23:15:57,2018-01-23 06:00:31,66%,6:44,NaN,NaN,NaN,2334
862,2018-01-23 21:41:50,2018-01-24 06:00:37,73%,8:18,NaN,NaN,NaN,2867
863,2018-01-24 20:58:39,2018-01-25 06:02:13,84%,9:03,NaN,NaN,NaN,4881
864,2018-01-25 23:17:03,2018-01-26 06:00:13,72%,6:43,NaN,NaN,NaN,2149
865,2018-01-26 22:13:41,2018-01-27 07:20:56,92%,9:07,NaN,NaN,NaN,1720
866,2018-01-28 01:21:47,2018-01-28 08:49:01,81%,7:27,NaN,NaN,NaN,6518
867,2018-01-28 21:30:54,2018-01-29 05:00:20,69%,7:29,NaN,NaN,NaN,29
868,2018-01-29 21:37:33,2018-01-30 06:01:01,79%,8:23,NaN,NaN,NaN,107
869,2018-01-30 22:18:44,2018-01-31 06:03:00,77%,7:44,NaN,NaN,NaN,5277
870,2018-01-31 22:29:56,2018-02-01 06:02:18,72%,7:32,NaN,NaN,NaN,1325
871,2018-02-01 21:25:06,2018-02-02 06:45:43,80%,9:20,NaN,NaN,NaN,3319
872,2018-02-03 02:20:39,2018-02-03 07:44:10,65%,5:23,NaN,NaN,NaN,4810
873,2018-02-03 08:32:14,2018-02-03 09:08:44,8%,0:36,NaN,NaN,NaN,166
874,2018-02-03 22:29:00,2018-02-04 07:37:14,96%,9:08,NaN,NaN,NaN,362
875,2018-02-04 23:09:25,2018-02-05 06:01:30,72%,6:52,NaN,NaN,NaN,2528
876,2018-02-05 22:02:05,2018-02-06 06:00:17,78%,7:58,NaN,NaN,NaN,7982
877,2018-02-06 21:44:05,2018-02-07 06:12:59,82%,8:28,NaN,NaN,NaN,5039
878,2018-02-07 23:18:52,2018-02-08 06:48:07,73%,7:29,NaN,NaN,NaN,2435
879,2018-02-08 22:41:38,2018-02-09 06:00:24,93%,7:18,NaN,NaN,NaN,68
880,2018-02-09 23:07:55,2018-02-10 07:26:34,76%,8:18,NaN,NaN,NaN,5598
881,2018-02-11 22:44:25,2018-02-12 07:08:28,91%,8:24,NaN,NaN,NaN,1901
882,2018-02-12 21:54:14,2018-02-13 07:02:15,91%,9:08,NaN,NaN,NaN,56
883,2018-02-13 23:49:19,2018-02-14 07:00:53,81%,7:11,NaN,NaN,NaN,64
884,2018-02-14 21:24:05,2018-02-15 06:20:52,71%,8:56,NaN,NaN,NaN,3316
885,2018-02-15 21:36:32,2018-02-16 06:50:31,80%,9:13,NaN,NaN,NaN,6555
886,2018-02-16 22:52:29,2018-02-17 07:48:04,91%,8:55,NaN,NaN,NaN,2291

In [4]:
df.dtypes

Start                object
End                  object
Sleep quality        object
Time in bed          object
Wake up              object
Sleep Notes          object
Heart rate          float64
Activity (steps)      int64
dtype: object

In [0]:
from datetime import datetime as dt
import math

df['Start'] = df['Start'].map(lambda x: dt.strptime(x, '%Y-%m-%d %H:%M:%S'))
df['End'] = df['End'].map(lambda x: dt.strptime(x, '%Y-%m-%d %H:%M:%S'))
df['Sleep quality'] = df['Sleep quality'].map(lambda x: int(x.replace('%', '')) * 0.01)
df['Sleep duration'] = (df['End'] - df['Start']).map(lambda x: round(x.total_seconds() / 60))
df['Wake up well'] = df['Wake up'].map(lambda x: 0.0 if type(x) is not str and math.isnan(x) else (1.0 if x == ':)' else 0.0))

Sleep Notes列にどのような値が存在しているか、データをユニークにして確認する。

In [6]:
pd.Series(df['Sleep Notes'].str.split(':', expand=True).values.reshape(-1,)).dropna().unique()

array(['Stressful day', 'Drank coffee', 'Drank tea', 'Ate late',
       'Worked out'], dtype=object)

In [7]:
df['Sleep Notes'].unique()

array([nan, 'Stressful day', 'Drank coffee:Drank tea', 'Drank tea',
       'Ate late:Drank coffee', 'Drank coffee:Drank tea:Worked out',
       'Drank tea:Worked out', 'Drank coffee:Drank tea:Stressful day',
       'Drank coffee', 'Drank coffee:Drank tea:Stressful day:Worked out',
       'Drank coffee:Worked out', 'Ate late:Drank coffee:Drank tea',
       'Ate late:Drank coffee:Drank tea:Worked out',
       'Drank tea:Stressful day', 'Drank tea:Stressful day:Worked out',
       'Drank coffee:Stressful day:Worked out',
       'Drank coffee:Stressful day',
       'Ate late:Drank coffee:Drank tea:Stressful day', 'Worked out',
       'Ate late:Drank coffee:Worked out'], dtype=object)

機械学習用にデータをクレンジングする。

In [8]:
from sklearn.preprocessing import LabelEncoder

class_le = LabelEncoder()
class_le.fit_transform(df['Sleep Notes'].fillna('').values)

array([ 0, 18,  0,  0,  7,  7, 14,  1, 10, 17,  8,  7,  7,  7, 14, 17,  7,
       10, 14,  7,  7,  6,  0, 10, 10, 10,  6,  8,  8, 10,  8,  7, 14,  7,
       17,  7,  6,  6, 10, 10,  6, 10,  7,  8, 10,  7,  6,  7,  7, 17,  6,
       10,  9,  7,  6,  7,  7,  7, 10,  0,  7, 10,  6,  7,  6, 10, 17, 13,
       10,  7,  7, 14, 14, 10, 17,  7,  7, 17, 10,  7,  9,  7,  8,  9,  7,
        2, 17, 13,  8, 13, 10,  4, 17,  9, 10, 17, 17,  7, 15,  0, 17, 10,
       13,  7,  7, 10, 10,  6, 10,  7, 10,  0,  6, 10, 10, 16, 13,  7, 10,
        9,  6, 13, 13, 10,  0, 12, 11,  6, 10, 10, 12, 13,  9, 10, 13, 10,
       13, 13, 13, 12, 10, 10, 13,  6, 10,  6,  6, 10, 10, 13,  6, 11,  6,
        2,  6, 11,  0,  7,  6,  6, 14,  6,  6,  7, 17, 10, 10, 13,  6, 12,
       13, 10, 10,  6,  6, 10, 10, 10,  4, 14, 17,  4, 10, 13, 11,  4, 13,
        0, 17, 10,  7,  6,  7,  7, 10, 10,  7,  7, 13, 17, 17,  7, 10, 10,
       10, 10, 10,  7, 10, 10,  7,  7,  7,  4, 10, 14, 10, 10, 10, 10, 10,
       14, 10, 10,  7,  2,  7, 16,  9, 16,  6,  6, 10,  8, 10, 10, 13, 10,
        7,  6,  7,  7,  6,  8, 13,  3, 10, 10,  2, 10,  7,  6, 13, 10,  6,
       10, 10, 10, 10,  6, 10, 13, 13, 12,  6, 14,  7, 10, 13,  6, 11, 13,
       13, 12, 10,  6,  6, 13, 17, 17,  6, 14, 17, 17, 10, 17, 14,  7, 17,
       17, 14, 17, 13, 14, 17, 17, 10, 13,  7,  6,  6,  6,  7, 10,  6, 12,
       13, 10, 10,  6,  6,  6, 13, 10,  4, 10, 10, 14,  9, 10, 10,  9,  7,
        7, 10,  4,  0,  0, 10, 14,  4, 10, 10, 10, 10, 13, 13, 13, 10,  1,
        9,  7,  7, 10, 10, 10, 10, 10, 14, 13, 13, 11, 13, 13,  6, 13, 13,
       13, 13,  6, 11, 13, 13, 13, 19, 13, 13, 13,  5, 14, 14, 17,  7, 10,
       10, 10,  6, 13, 13, 13, 13,  6, 12, 13, 12,  6,  0, 13, 12, 13, 13,
        6, 13, 13, 13, 12, 13, 13, 13, 12, 13, 13, 13,  6,  6, 13, 13, 13,
       12,  6,  8,  5, 13,  6,  7, 13, 13, 13, 13, 13,  6,  6, 13, 13, 13,
       13,  6,  6, 17, 17, 17, 17, 13, 14,  6, 17, 17, 17,  6, 13, 17, 17,
       14, 17, 10, 16, 17, 10, 13, 10,  6,  7, 10, 17, 17, 17, 10, 10, 17,
       13, 13,  6,  7, 10, 12, 13, 10,  7,  6,  7, 10, 17, 10, 10,  7, 13,
       16,  8,  8, 11,  6, 17, 10, 10, 10,  7, 14,  6, 14,  7, 14,  7,  7,
       17, 10, 17,  7, 14, 17, 14,  7,  0, 14,  7, 14, 17, 17, 10, 10, 14,
       13, 14,  7, 10, 14, 14,  7, 14, 14,  7,  8,  7,  7,  7,  0, 14, 10,
       17,  7, 14, 14,  7,  7,  7,  2, 17, 10, 14,  0, 14, 14,  7, 14, 14,
       14,  7,  7, 17, 10,  0,  7,  6, 10, 10,  7,  7,  7,  7,  4,  7,  7,
        9,  0, 14,  7,  7,  0,  7,  7,  7,  7, 14,  7, 14,  7, 14,  7,  0,
        4, 14,  6, 10,  0,  7, 10,  7,  7,  7, 10,  7, 10,  7,  7, 17, 17,
       10, 10,  7, 14,  7,  7,  7, 17, 10,  7, 10, 17, 10, 10, 10,  7, 14,
       10, 14, 17, 10, 10, 10,  6, 17,  0,  0, 14,  7, 14, 14,  7,  7, 10,
        0, 10, 10,  7,  6, 10, 10, 10, 10,  8,  7, 10, 10, 10, 10, 10, 10,
        6, 10, 10,  0,  7, 10, 10, 14,  7, 10, 14, 10,  9, 10, 17, 13, 17,
       17, 13,  6, 12,  5, 10, 10,  7, 13,  6, 13,  9, 10, 14,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0])

In [0]:
df['Stressful day'] = df['Sleep Notes'].fillna('').map(lambda x: 1 if 'Stressful day' in x else 0)
df['Drank coffee'] = df['Sleep Notes'].fillna('').map(lambda x: 1 if 'Drank coffee' in x else 0)
df['Drank tea'] = df['Sleep Notes'].fillna('').map(lambda x: 1 if 'Drank tea' in x else 0)
df['Ate late'] = df['Sleep Notes'].fillna('').map(lambda x: 1 if 'Ate late' in x else 0)
df['Worked out'] = df['Sleep Notes'].fillna('').map(lambda x: 1 if 'Worked out' in x else 0)

In [10]:
df

,Start,End,Sleep quality,Time in bed,Wake up,Sleep Notes,Heart rate,Activity (steps),Sleep duration,Wake up well,Stressful day,Drank coffee,Drank tea,Ate late,Worked out
0,2014-12-29 22:57:49,2014-12-30 07:30:13,1.00,8:32,:),NaN,59.0,0,512,1.0,0,0,0,0,0
1,2014-12-30 21:17:50,2014-12-30 21:33:54,0.03,0:16,:|,Stressful day,72.0,0,16,0.0,1,0,0,0,0
2,2014-12-30 22:42:49,2014-12-31 07:13:31,0.98,8:30,:|,NaN,57.0,0,511,0.0,0,0,0,0,0
3,2014-12-31 22:31:01,2015-01-01 06:03:01,0.65,7:32,NaN,NaN,NaN,0,452,0.0,0,0,0,0,0
4,2015-01-01 22:12:10,2015-01-02 04:56:35,0.72,6:44,:),Drank coffee:Drank tea,68.0,0,404,1.0,0,1,1,0,0
5,2015-01-03 00:34:57,2015-01-03 07:47:23,0.83,7:12,:),Drank coffee:Drank tea,60.0,0,432,1.0,0,1,1,0,0
6,2015-01-04 00:23:06,2015-01-04 07:37:09,0.78,7:14,NaN,Drank tea,NaN,0,434,0.0,0,0,1,0,0
7,2015-01-04 21:34:44,2015-01-05 04:53:34,0.78,7:18,:),Ate late:Drank coffee,57.0,0,439,1.0,0,1,0,1,0
8,2015-01-05 21:32:25,2015-01-06 05:00:03,0.69,7:27,:),Drank coffee:Drank tea:Worked out,56.0,0,448,1.0,0,1,1,0,1
9,2015-01-06 21:24:56,2015-01-07 05:00:02,0.74,7:35,:|,Drank tea:Worked out,64.0,0,455,0.0,0,0,1,0,1
10,2015-01-07 20:59:58,2015-01-08 06:19:20,0.81,9:19,:),Drank coffee:Drank tea:Stressful day,62.0,0,559,1.0,1,1,1,0,0
11,2015-01-08 22:58:18,2015-01-09 06:14:58,0.88,7:16,:),Drank coffee:Drank tea,58.0,0,437,1.0,0,1,1,0,0
12,2015-01-09 22:27:58,2015-01-10 07:29:00,0.77,9:01,:|,Drank coffee:Drank tea,65.0,0,541,0.0,0,1,1,0,0
13,2015-01-10 22:38:24,2015-01-11 07:28:59,0.89,8:50,:|,Drank coffee:Drank tea,65.0,0,531,0.0,0,1,1,0,0
14,2015-01-11 22:12:07,2015-01-12 06:20:29,0.78,8:08,:),Drank tea,53.0,0,488,1.0,0,0,1,0,0
15,2015-01-12 21:01:46,2015-01-13 06:13:23,1.00,9:11,:),Drank tea:Worked out,65.0,0,552,1.0,0,0,1,0,1
16,2015-01-13 22:14:29,2015-01-14 06:20:33,1.00,8:06,:),Drank coffee:Drank tea,55.0,0,486,1.0,0,1,1,0,0
17,2015-01-14 21:48:26,2015-01-15 05:02:05,0.88,7:13,:),Drank coffee:Drank tea:Worked out,60.0,0,434,1.0,0,1,1,0,1
18,2015-01-15 21:32:07,2015-01-16 04:54:42,0.87,7:22,:),Drank tea,60.0,0,443,1.0,0,0,1,0,0
19,2015-01-17 02:11:57,2015-01-17 09:03:37,0.83,6:51,:),Drank coffee:Drank tea,94.0,0,412,1.0,0,1,1,0,0
20,2015-01-17 23:55:16,2015-01-18 07:47:15,0.93,7:51,:),Drank coffee:Drank tea,57.0,0,472,1.0,0,1,1,0,0
21,2015-01-18 21:51:53,2015-01-19 05:04:18,0.58,7:12,:),Drank coffee,67.0,0,432,1.0,0,1,0,0,0
22,2015-01-19 05:06:38,2015-01-19 06:20:29,0.16,1:13,:),NaN,58.0,0,74,1.0,0,0,0,0,0
23,2015-01-19 21:45:19,2015-01-20 05:45:37,0.75,8:00,:|,Drank coffee:Drank tea:Worked out,54.0,0,480,0.0,0,1,1,0,1
24,2015-01-20 21:42:37,2015-01-21 05:45:22,0.80,8:02,:|,Drank coffee:Drank tea:Worked out,60.0,0,483,0.0,0,1,1,0,1
25,2015-01-21 22:34:35,2015-01-22 06:17:22,0.87,7:42,:),Drank coffee:Drank tea:Worked out,75.0,0,463,1.0,0,1,1,0,1
26,2015-01-25 20:55:02,2015-01-26 06:14:59,0.87,9:19,:),Drank coffee,58.0,0,560,1.0,0,1,0,0,0
27,2015-01-26 22:36:21,2015-01-27 06:11:49,0.83,7:35,:|,Drank coffee:Drank tea:Stressful day,66.0,0,455,0.0,1,1,1,0,0
28,2015-01-28 21:43:16,2015-01-29 05:20:42,0.76,7:37,:),Drank coffee:Drank tea:Stressful day,57.0,0,457,1.0,1,1,1,0,0
29,2015-01-29 22:23:40,2015-01-30 05:29:11,0.67,7:05,:),Drank coffee:Drank tea:Worked out,63.0,0,426,1.0,0,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
857,2018-01-18 22:46:26,2018-01-19 06:48:42,0.59,8:02,NaN,NaN,NaN,9516,482,0.0,0,0,0,0,0
858,2018-01-19 22:21:24,2018-01-20 08:22:57,0.71,10:01,NaN,NaN,NaN,4454,602,0.0,0,0,0,0,0
859,2018-01-20 23:44:10,2018-01-21 07:01:39,0.67,7:17,NaN,NaN,NaN,7253,437,0.0,0,0,0,0,0
860,2018-01-21 22:04:55,2018-01-22 06:01:48,0.84,7:56,NaN,NaN,NaN,22,477,0.0,0,0,0,0,0
861,2018-01-22 23:15:57,2018-01-23 06:00:31,0.66,6:44,NaN,NaN,NaN,2334,405,0.0,0,0,0,0,0
862,2018-01-23 21:41:50,2018-01-24 06:00:37,0.73,8:18,NaN,NaN,NaN,2867,499,0.0,0,0,0,0,0
863,2018-01-24 20:58:39,2018-01-25 06:02:13,0.84,9:03,NaN,NaN,NaN,4881,544,0.0,0,0,0,0,0
864,2018-01-25 23:17:03,2018-01-26 06:00:13,0.72,6:43,NaN,NaN,NaN,2149,403,0.0,0,0,0,0,0
865,2018-01-26 22:13:41,2018-01-27 07:20:56,0.92,9:07,NaN,NaN,NaN,1720,547,0.0,0,0,0,0,0
866,2018-01-28 01:21:47,2018-01-28 08:49:01,0.81,7:27,NaN,NaN,NaN,6518,447,0.0,0,0,0,0,0
867,2018-01-28 21:30:54,2018-01-29 05:00:20,0.69,7:29,NaN,NaN,NaN,29,449,0.0,0,0,0,0,0
868,2018-01-29 21:37:33,2018-01-30 06:01:01,0.79,8:23,NaN,NaN,NaN,107,503,0.0,0,0,0,0,0
869,2018-01-30 22:18:44,2018-01-31 06:03:00,0.77,7:44,NaN,NaN,NaN,5277,464,0.0,0,0,0,0,0
870,2018-01-31 22:29:56,2018-02-01 06:02:18,0.72,7:32,NaN,NaN,NaN,1325,452,0.0,0,0,0,0,0
871,2018-02-01 21:25:06,2018-02-02 06:45:43,0.80,9:20,NaN,NaN,NaN,3319,561,0.0,0,0,0,0,0
872,2018-02-03 02:20:39,2018-02-03 07:44:10,0.65,5:23,NaN,NaN,NaN,4810,324,0.0,0,0,0,0,0
873,2018-02-03 08:32:14,2018-02-03 09:08:44,0.08,0:36,NaN,NaN,NaN,166,36,0.0,0,0,0,0,0
874,2018-02-03 22:29:00,2018-02-04 07:37:14,0.96,9:08,NaN,NaN,NaN,362,548,0.0,0,0,0,0,0
875,2018-02-04 23:09:25,2018-02-05 06:01:30,0.72,6:52,NaN,NaN,NaN,2528,412,0.0,0,0,0,0,0
876,2018-02-05 22:02:05,2018-02-06 06:00:17,0.78,7:58,NaN,NaN,NaN,7982,478,0.0,0,0,0,0,0
877,2018-02-06 21:44:05,2018-02-07 06:12:59,0.82,8:28,NaN,NaN,NaN,5039,509,0.0,0,0,0,0,0
878,2018-02-07 23:18:52,2018-02-08 06:48:07,0.73,7:29,NaN,NaN,NaN,2435,449,0.0,0,0,0,0,0
879,2018-02-08 22:41:38,2018-02-09 06:00:24,0.93,7:18,NaN,NaN,NaN,68,439,0.0,0,0,0,0,0
880,2018-02-09 23:07:55,2018-02-10 07:26:34,0.76,8:18,NaN,NaN,NaN,5598,499,0.0,0,0,0,0,0
881,2018-02-11 22:44:25,2018-02-12 07:08:28,0.91,8:24,NaN,NaN,NaN,1901,504,0.0,0,0,0,0,0
882,2018-02-12 21:54:14,2018-02-13 07:02:15,0.91,9:08,NaN,NaN,NaN,56,548,0.0,0,0,0,0,0
883,2018-02-13 23:49:19,2018-02-14 07:00:53,0.81,7:11,NaN,NaN,NaN,64,432,0.0,0,0,0,0,0
884,2018-02-14 21:24:05,2018-02-15 06:20:52,0.71,8:56,NaN,NaN,NaN,3316,537,0.0,0,0,0,0,0
885,2018-02-15 21:36:32,2018-02-16 06:50:31,0.80,9:13,NaN,NaN,NaN,6555,554,0.0,0,0,0,0,0
886,2018-02-16 22:52:29,2018-02-17 07:48:04,0.91,8:55,NaN,NaN,NaN,2291,536,0.0,0,0,0,0,0

In [11]:
df.dtypes

Start               datetime64[ns]
End                 datetime64[ns]
Sleep quality              float64
Time in bed                 object
Wake up                     object
Sleep Notes                 object
Heart rate                 float64
Activity (steps)             int64
Sleep duration               int64
Wake up well               float64
Stressful day                int64
Drank coffee                 int64
Drank tea                    int64
Ate late                     int64
Worked out                   int64
dtype: object

In [12]:
from sklearn.preprocessing import Imputer

df_ext = df.loc[0:248, ['Heart rate', 'Stressful day', 'Drank coffee', 'Drank tea', 'Ate late', 'Worked out', 'Sleep duration', 'Wake up well']]

imr = Imputer(missing_values='NaN', strategy='mean', axis=0)
imr = imr.fit(df_ext)
df_ext = pd.DataFrame(imr.transform(df_ext),
                      columns=['Heart rate', 'Stressful day', 'Drank coffee', 'Drank tea', 'Ate late', 'Worked out', 'Sleep duration', 'Wake up well'])
df_ext

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

,Heart rate,Stressful day,Drank coffee,Drank tea,Ate late,Worked out,Sleep duration,Wake up well
0,59.000000,0.0,0.0,0.0,0.0,0.0,512.0,1.0
1,72.000000,1.0,0.0,0.0,0.0,0.0,16.0,0.0
2,57.000000,0.0,0.0,0.0,0.0,0.0,511.0,0.0
3,60.604938,0.0,0.0,0.0,0.0,0.0,452.0,0.0
4,68.000000,0.0,1.0,1.0,0.0,0.0,404.0,1.0
5,60.000000,0.0,1.0,1.0,0.0,0.0,432.0,1.0
6,60.604938,0.0,0.0,1.0,0.0,0.0,434.0,0.0
7,57.000000,0.0,1.0,0.0,1.0,0.0,439.0,1.0
8,56.000000,0.0,1.0,1.0,0.0,1.0,448.0,1.0
9,64.000000,0.0,0.0,1.0,0.0,1.0,455.0,0.0
10,62.000000,1.0,1.0,1.0,0.0,0.0,559.0,1.0
11,58.000000,0.0,1.0,1.0,0.0,0.0,437.0,1.0
12,65.000000,0.0,1.0,1.0,0.0,0.0,541.0,0.0
13,65.000000,0.0,1.0,1.0,0.0,0.0,531.0,0.0
14,53.000000,0.0,0.0,1.0,0.0,0.0,488.0,1.0
15,65.000000,0.0,0.0,1.0,0.0,1.0,552.0,1.0
16,55.000000,0.0,1.0,1.0,0.0,0.0,486.0,1.0
17,60.000000,0.0,1.0,1.0,0.0,1.0,434.0,1.0
18,60.000000,0.0,0.0,1.0,0.0,0.0,443.0,1.0
19,94.000000,0.0,1.0,1.0,0.0,0.0,412.0,1.0
20,57.000000,0.0,1.0,1.0,0.0,0.0,472.0,1.0
21,67.000000,0.0,1.0,0.0,0.0,0.0,432.0,1.0
22,58.000000,0.0,0.0,0.0,0.0,0.0,74.0,1.0
23,54.000000,0.0,1.0,1.0,0.0,1.0,480.0,0.0
24,60.000000,0.0,1.0,1.0,0.0,1.0,483.0,0.0
25,75.000000,0.0,1.0,1.0,0.0,1.0,463.0,1.0
26,58.000000,0.0,1.0,0.0,0.0,0.0,560.0,1.0
27,66.000000,1.0,1.0,1.0,0.0,0.0,455.0,0.0
28,57.000000,1.0,1.0,1.0,0.0,0.0,457.0,1.0
29,63.000000,0.0,1.0,1.0,0.0,1.0,426.0,1.0
...,...,...,...,...,...,...,...,...
219,60.604938,0.0,1.0,1.0,0.0,1.0,475.0,1.0
220,59.000000,0.0,1.0,1.0,0.0,1.0,386.0,1.0
221,60.604938,0.0,0.0,1.0,0.0,0.0,480.0,1.0
222,60.604938,0.0,1.0,1.0,0.0,1.0,536.0,1.0
223,57.000000,0.0,1.0,1.0,0.0,1.0,437.0,1.0
224,60.604938,0.0,1.0,1.0,0.0,0.0,412.0,1.0
225,60.604938,0.0,1.0,1.0,1.0,0.0,370.0,1.0
226,68.000000,0.0,1.0,1.0,0.0,0.0,441.0,1.0
227,61.000000,1.0,0.0,1.0,0.0,1.0,460.0,1.0
228,60.604938,1.0,1.0,1.0,0.0,1.0,448.0,1.0
229,67.000000,1.0,0.0,1.0,0.0,1.0,493.0,1.0
230,60.604938,0.0,1.0,0.0,0.0,0.0,495.0,1.0
231,52.000000,0.0,1.0,0.0,0.0,0.0,483.0,1.0
232,60.604938,0.0,1.0,1.0,0.0,1.0,458.0,1.0
233,60.604938,1.0,1.0,1.0,0.0,0.0,440.0,1.0
234,60.604938,0.0,1.0,1.0,0.0,1.0,518.0,1.0
235,56.000000,0.0,1.0,1.0,0.0,1.0,481.0,0.0
236,60.604938,0.0,1.0,0.0,0.0,1.0,444.0,0.0
237,60.604938,0.0,1.0,1.0,0.0,1.0,482.0,1.0
238,60.604938,0.0,1.0,1.0,0.0,0.0,448.0,1.0
239,60.604938,0.0,1.0,0.0,0.0,0.0,496.0,0.0
240,71.000000,0.0,1.0,1.0,0.0,0.0,514.0,0.0
241,65.000000,0.0,1.0,1.0,0.0,0.0,504.0,1.0
242,60.604938,0.0,1.0,0.0,0.0,0.0,471.0,1.0
243,60.604938,1.0,1.0,1.0,0.0,0.0,448.0,0.0
244,60.604938,0.0,1.0,0.0,0.0,1.0,482.0,0.0
245,60.604938,1.0,1.0,1.0,1.0,0.0,456.0,0.0
246,60.604938,0.0,1.0,1.0,0.0,1.0,438.0,0.0
247,60.604938,0.0,1.0,1.0,0.0,1.0,450.0,0.0
248,60.604938,0.0,1.0,1.0,1.0,0.0,459.0,0.0

In [13]:
from sklearn.preprocessing import StandardScaler

stdsc = StandardScaler()
pd.DataFrame(stdsc.fit_transform(df_ext),
             columns=['Heart rate', 'Stressful day', 'Drank coffee', 'Drank tea', 'Ate late', 'Worked out', 'Sleep duration', 'Wake up well'])

,Heart rate,Stressful day,Drank coffee,Drank tea,Ate late,Worked out,Sleep duration,Wake up well
0,-0.281001,-0.370117,-2.220039,-1.552726,-0.214985,-1.012122,0.808714,0.390868
1,1.995105,2.701851,-2.220039,-1.552726,-0.214985,-1.012122,-5.713807,-2.558409
2,-0.631171,-0.370117,-2.220039,-1.552726,-0.214985,-1.012122,0.795563,-2.558409
3,0.000000,-0.370117,-2.220039,-1.552726,-0.214985,-1.012122,0.019699,-2.558409
4,1.294765,-0.370117,0.450443,0.644029,-0.214985,-1.012122,-0.611513,0.390868
5,-0.105916,-0.370117,0.450443,0.644029,-0.214985,-1.012122,-0.243306,0.390868
6,0.000000,-0.370117,-2.220039,0.644029,-0.214985,-1.012122,-0.217005,-2.558409
7,-0.631171,-0.370117,0.450443,-1.552726,4.651490,-1.012122,-0.151254,0.390868
8,-0.806256,-0.370117,0.450443,0.644029,-0.214985,0.988024,-0.032902,0.390868
9,0.594425,-0.370117,-2.220039,0.644029,-0.214985,0.988024,0.059150,-2.558409
10,0.244254,2.701851,0.450443,0.644029,-0.214985,-1.012122,1.426775,0.390868
11,-0.456086,-0.370117,0.450443,0.644029,-0.214985,-1.012122,-0.177555,0.390868
12,0.769510,-0.370117,0.450443,0.644029,-0.214985,-1.012122,1.190071,-2.558409
13,0.769510,-0.370117,0.450443,0.644029,-0.214985,-1.012122,1.058568,-2.558409
14,-1.331511,-0.370117,-2.220039,0.644029,-0.214985,-1.012122,0.493108,0.390868
15,0.769510,-0.370117,-2.220039,0.644029,-0.214985,0.988024,1.334723,0.390868
16,-0.981341,-0.370117,0.450443,0.644029,-0.214985,-1.012122,0.466807,0.390868
17,-0.105916,-0.370117,0.450443,0.644029,-0.214985,0.988024,-0.217005,0.390868
18,-0.105916,-0.370117,-2.220039,0.644029,-0.214985,-1.012122,-0.098653,0.390868
19,5.846976,-0.370117,0.450443,0.644029,-0.214985,-1.012122,-0.506311,0.390868
20,-0.631171,-0.370117,0.450443,0.644029,-0.214985,-1.012122,0.282704,0.390868
21,1.119680,-0.370117,0.450443,-1.552726,-0.214985,-1.012122,-0.243306,0.390868
22,-0.456086,-0.370117,-2.220039,-1.552726,-0.214985,-1.012122,-4.951093,0.390868
23,-1.156426,-0.370117,0.450443,0.644029,-0.214985,0.988024,0.387906,-2.558409
24,-0.105916,-0.370117,0.450443,0.644029,-0.214985,0.988024,0.427356,-2.558409
25,2.520360,-0.370117,0.450443,0.644029,-0.214985,0.988024,0.164352,0.390868
26,-0.456086,-0.370117,0.450443,-1.552726,-0.214985,-1.012122,1.439925,0.390868
27,0.944595,2.701851,0.450443,0.644029,-0.214985,-1.012122,0.059150,-2.558409
28,-0.631171,2.701851,0.450443,0.644029,-0.214985,-1.012122,0.085450,0.390868
29,0.419339,-0.370117,0.450443,0.644029,-0.214985,0.988024,-0.322207,0.390868
...,...,...,...,...,...,...,...,...
219,0.000000,-0.370117,0.450443,0.644029,-0.214985,0.988024,0.322155,0.390868
220,-0.281001,-0.370117,0.450443,0.644029,-0.214985,0.988024,-0.848217,0.390868
221,0.000000,-0.370117,-2.220039,0.644029,-0.214985,-1.012122,0.387906,0.390868
222,0.000000,-0.370117,0.450443,0.644029,-0.214985,0.988024,1.124319,0.390868
223,-0.631171,-0.370117,0.450443,0.644029,-0.214985,0.988024,-0.177555,0.390868
224,0.000000,-0.370117,0.450443,0.644029,-0.214985,-1.012122,-0.506311,0.390868
225,0.000000,-0.370117,0.450443,0.644029,4.651490,-1.012122,-1.058621,0.390868
226,1.294765,-0.370117,0.450443,0.644029,-0.214985,-1.012122,-0.124954,0.390868
227,0.069169,2.701851,-2.220039,0.644029,-0.214985,0.988024,0.124901,0.390868
228,0.000000,2.701851,0.450443,0.644029,-0.214985,0.988024,-0.032902,0.390868
229,1.119680,2.701851,-2.220039,0.644029,-0.214985,0.988024,0.558859,0.390868
230,0.000000,-0.370117,0.450443,-1.552726,-0.214985,-1.012122,0.585159,0.390868
231,-1.506596,-0.370117,0.450443,-1.552726,-0.214985,-1.012122,0.427356,0.390868
232,0.000000,-0.370117,0.450443,0.644029,-0.214985,0.988024,0.098600,0.390868
233,0.000000,2.701851,0.450443,0.644029,-0.214985,-1.012122,-0.138104,0.390868
234,0.000000,-0.370117,0.450443,0.644029,-0.214985,0.988024,0.887615,0.390868
235,-0.806256,-0.370117,0.450443,0.644029,-0.214985,0.988024,0.401056,-2.558409
236,0.000000,-0.370117,0.450443,-1.552726,-0.214985,0.988024,-0.085503,-2.558409
237,0.000000,-0.370117,0.450443,0.644029,-0.214985,0.988024,0.414206,0.390868
238,0.000000,-0.370117,0.450443,0.644029,-0.214985,-1.012122,-0.032902,0.390868
239,0.000000,-0.370117,0.450443,-1.552726,-0.214985,-1.012122,0.598310,-2.558409
240,1.820020,-0.370117,0.450443,0.644029,-0.214985,-1.012122,0.835014,-2.558409
241,0.769510,-0.370117,0.450443,0.644029,-0.214985,-1.012122,0.703512,0.390868
242,0.000000,-0.370117,0.450443,-1.552726,-0.214985,-1.012122,0.269554,0.390868
243,0.000000,2.701851,0.450443,0.644029,-0.214985,-1.012122,-0.032902,-2.558409
244,0.000000,-0.370117,0.450443,-1.552726,-0.214985,0.988024,0.414206,-2.558409
245,0.000000,2.701851,0.450443,0.644029,4.651490,-1.012122,0.072300,-2.558409
246,0.000000,-0.370117,0.450443,0.644029,-0.214985,0.988024,-0.164404,-2.558409
247,0.000000,-0.370117,0.450443,0.644029,-0.214985,0.988024,-0.006602,-2.558409
248,0.000000,-0.370117,0.450443,0.644029,4.651490,-1.012122,0.111751,-2.558409

In [14]:
from sklearn.preprocessing import MinMaxScaler

mms = MinMaxScaler()
df_norm = pd.DataFrame(mms.fit_transform(df_ext),
             columns=['Heart rate', 'Stressful day', 'Drank coffee', 'Drank tea', 'Ate late', 'Worked out', 'Sleep duration', 'Wake up well'])
df_norm

,Heart rate,Stressful day,Drank coffee,Drank tea,Ate late,Worked out,Sleep duration,Wake up well
0,0.204082,0.0,0.0,0.0,0.0,0.0,0.787639,1.0
1,0.469388,1.0,0.0,0.0,0.0,0.0,0.001585,0.0
2,0.163265,0.0,0.0,0.0,0.0,0.0,0.786054,0.0
3,0.236835,0.0,0.0,0.0,0.0,0.0,0.692552,0.0
4,0.387755,0.0,1.0,1.0,0.0,0.0,0.616482,1.0
5,0.224490,0.0,1.0,1.0,0.0,0.0,0.660856,1.0
6,0.236835,0.0,0.0,1.0,0.0,0.0,0.664025,0.0
7,0.163265,0.0,1.0,0.0,1.0,0.0,0.671949,1.0
8,0.142857,0.0,1.0,1.0,0.0,1.0,0.686212,1.0
9,0.306122,0.0,0.0,1.0,0.0,1.0,0.697306,0.0
10,0.265306,1.0,1.0,1.0,0.0,0.0,0.862124,1.0
11,0.183673,0.0,1.0,1.0,0.0,0.0,0.668780,1.0
12,0.326531,0.0,1.0,1.0,0.0,0.0,0.833597,0.0
13,0.326531,0.0,1.0,1.0,0.0,0.0,0.817750,0.0
14,0.081633,0.0,0.0,1.0,0.0,0.0,0.749604,1.0
15,0.326531,0.0,0.0,1.0,0.0,1.0,0.851030,1.0
16,0.122449,0.0,1.0,1.0,0.0,0.0,0.746434,1.0
17,0.224490,0.0,1.0,1.0,0.0,1.0,0.664025,1.0
18,0.224490,0.0,0.0,1.0,0.0,0.0,0.678288,1.0
19,0.918367,0.0,1.0,1.0,0.0,0.0,0.629160,1.0
20,0.163265,0.0,1.0,1.0,0.0,0.0,0.724247,1.0
21,0.367347,0.0,1.0,0.0,0.0,0.0,0.660856,1.0
22,0.183673,0.0,0.0,0.0,0.0,0.0,0.093502,1.0
23,0.102041,0.0,1.0,1.0,0.0,1.0,0.736926,0.0
24,0.224490,0.0,1.0,1.0,0.0,1.0,0.741680,0.0
25,0.530612,0.0,1.0,1.0,0.0,1.0,0.709984,1.0
26,0.183673,0.0,1.0,0.0,0.0,0.0,0.863708,1.0
27,0.346939,1.0,1.0,1.0,0.0,0.0,0.697306,0.0
28,0.163265,1.0,1.0,1.0,0.0,0.0,0.700475,1.0
29,0.285714,0.0,1.0,1.0,0.0,1.0,0.651347,1.0
...,...,...,...,...,...,...,...,...
219,0.236835,0.0,1.0,1.0,0.0,1.0,0.729002,1.0
220,0.204082,0.0,1.0,1.0,0.0,1.0,0.587956,1.0
221,0.236835,0.0,0.0,1.0,0.0,0.0,0.736926,1.0
222,0.236835,0.0,1.0,1.0,0.0,1.0,0.825674,1.0
223,0.163265,0.0,1.0,1.0,0.0,1.0,0.668780,1.0
224,0.236835,0.0,1.0,1.0,0.0,0.0,0.629160,1.0
225,0.236835,0.0,1.0,1.0,1.0,0.0,0.562599,1.0
226,0.387755,0.0,1.0,1.0,0.0,0.0,0.675119,1.0
227,0.244898,1.0,0.0,1.0,0.0,1.0,0.705230,1.0
228,0.236835,1.0,1.0,1.0,0.0,1.0,0.686212,1.0
229,0.367347,1.0,0.0,1.0,0.0,1.0,0.757528,1.0
230,0.236835,0.0,1.0,0.0,0.0,0.0,0.760697,1.0
231,0.061224,0.0,1.0,0.0,0.0,0.0,0.741680,1.0
232,0.236835,0.0,1.0,1.0,0.0,1.0,0.702060,1.0
233,0.236835,1.0,1.0,1.0,0.0,0.0,0.673534,1.0
234,0.236835,0.0,1.0,1.0,0.0,1.0,0.797147,1.0
235,0.142857,0.0,1.0,1.0,0.0,1.0,0.738510,0.0
236,0.236835,0.0,1.0,0.0,0.0,1.0,0.679873,0.0
237,0.236835,0.0,1.0,1.0,0.0,1.0,0.740095,1.0
238,0.236835,0.0,1.0,1.0,0.0,0.0,0.686212,1.0
239,0.236835,0.0,1.0,0.0,0.0,0.0,0.762282,0.0
240,0.448980,0.0,1.0,1.0,0.0,0.0,0.790808,0.0
241,0.326531,0.0,1.0,1.0,0.0,0.0,0.774960,1.0
242,0.236835,0.0,1.0,0.0,0.0,0.0,0.722662,1.0
243,0.236835,1.0,1.0,1.0,0.0,0.0,0.686212,0.0
244,0.236835,0.0,1.0,0.0,0.0,1.0,0.740095,0.0
245,0.236835,1.0,1.0,1.0,1.0,0.0,0.698891,0.0
246,0.236835,0.0,1.0,1.0,0.0,1.0,0.670365,0.0
247,0.236835,0.0,1.0,1.0,0.0,1.0,0.689382,0.0
248,0.236835,0.0,1.0,1.0,1.0,0.0,0.703645,0.0

In [0]:
import numpy as np

def generator(data, n_prev=5):
    x, y = [], []
    for i in range(len(data) - n_prev):
        x.append(data.iloc[i:i+n_prev, 0:6].values)
        y.append(data.iloc[i+n_prev:i+n_prev+1, 6:8].values)
    return np.array(x), np.reshape(np.array(y), (len(y), 2))

X, Y = generator(df_norm)

In [23]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, train_size=0.8, shuffle=False)

print(X_train.shape)
print(Y_train.shape)
print(X_test.shape)
print(Y_test.shape)

(195, 5, 6)
(195, 2)
(49, 5, 6)
(49, 2)

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:2179: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

# 学習

In [24]:
from keras.layers import Input, Embedding, LSTM, Dense
from keras.models import Model

# 入力層、中間層
input_layer = Input(shape=(5, 6))
x = LSTM(128)(input_layer)

# 出力層
output_layer = Dense(2, activation='softmax')(x)

model = Model(input_layer, output_layer)
model.compile(optimizer='rmsprop', loss='categorical_crossentropy', metrics=['accuracy'])

model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_2 (InputLayer)         (None, 5, 6)              0
_________________________________________________________________
lstm_2 (LSTM)                (None, 128)               69120
_________________________________________________________________
dense_2 (Dense)              (None, 2)                 258
=================================================================
Total params: 69,378
Trainable params: 69,378
Non-trainable params: 0
_________________________________________________________________

In [25]:
model.fit(X_train, Y_train, epochs=50, batch_size=16)

Epoch 1/50
195/195 [==============================] - 1s 5ms/step - loss: 1.1027 - acc: 0.8564
Epoch 2/50
195/195 [==============================] - 0s 560us/step - loss: 1.1015 - acc: 0.9179
Epoch 3/50
195/195 [==============================] - 0s 580us/step - loss: 1.1009 - acc: 0.9179
Epoch 4/50
195/195 [==============================] - 0s 570us/step - loss: 1.1007 - acc: 0.9179
Epoch 5/50
195/195 [==============================] - 0s 552us/step - loss: 1.1001 - acc: 0.9179
Epoch 6/50
195/195 [==============================] - 0s 526us/step - loss: 1.1008 - acc: 0.9077
Epoch 7/50
195/195 [==============================] - 0s 562us/step - loss: 1.1000 - acc: 0.9179
Epoch 8/50
195/195 [==============================] - 0s 543us/step - loss: 1.1000 - acc: 0.9179
Epoch 9/50
195/195 [==============================] - 0s 543us/step - loss: 1.1003 - acc: 0.9179
Epoch 10/50
195/195 [==============================] - 0s 547us/step - loss: 1.1005 - acc: 0.9179
Epoch 11/50
195/195 [==============================] - 0s 535us/step - loss: 1.0996 - acc: 0.9179
Epoch 12/50
195/195 [==============================] - 0s 532us/step - loss: 1.1003 - acc: 0.9231
Epoch 13/50
195/195 [==============================] - 0s 541us/step - loss: 1.0999 - acc: 0.9179
Epoch 14/50
195/195 [==============================] - 0s 529us/step - loss: 1.0998 - acc: 0.9179
Epoch 15/50
195/195 [==============================] - 0s 571us/step - loss: 1.0993 - acc: 0.9179
Epoch 16/50
195/195 [==============================] - 0s 542us/step - loss: 1.1004 - acc: 0.9231
Epoch 17/50
195/195 [==============================] - 0s 546us/step - loss: 1.0994 - acc: 0.9231
Epoch 18/50
195/195 [==============================] - 0s 527us/step - loss: 1.0999 - acc: 0.9179
Epoch 19/50
195/195 [==============================] - 0s 537us/step - loss: 1.0993 - acc: 0.9179
Epoch 20/50
195/195 [==============================] - 0s 531us/step - loss: 1.1001 - acc: 0.9179
Epoch 21/50
195/195 [==============================] - 0s 514us/step - loss: 1.0993 - acc: 0.9128
Epoch 22/50
195/195 [==============================] - 0s 555us/step - loss: 1.0996 - acc: 0.9231
Epoch 23/50
195/195 [==============================] - 0s 537us/step - loss: 1.0998 - acc: 0.9128
Epoch 24/50
195/195 [==============================] - 0s 551us/step - loss: 1.0993 - acc: 0.9179
Epoch 25/50
195/195 [==============================] - 0s 528us/step - loss: 1.0986 - acc: 0.9179
Epoch 26/50
195/195 [==============================] - 0s 565us/step - loss: 1.0991 - acc: 0.9179
Epoch 27/50
195/195 [==============================] - 0s 535us/step - loss: 1.0988 - acc: 0.9179
Epoch 28/50
195/195 [==============================] - 0s 536us/step - loss: 1.0988 - acc: 0.9231
Epoch 29/50
195/195 [==============================] - 0s 521us/step - loss: 1.0986 - acc: 0.9179
Epoch 30/50
195/195 [==============================] - 0s 542us/step - loss: 1.0986 - acc: 0.9231
Epoch 31/50
195/195 [==============================] - 0s 543us/step - loss: 1.0978 - acc: 0.9179
Epoch 32/50
195/195 [==============================] - 0s 547us/step - loss: 1.0984 - acc: 0.9179
Epoch 33/50
195/195 [==============================] - 0s 508us/step - loss: 1.0974 - acc: 0.9179
Epoch 34/50
195/195 [==============================] - 0s 552us/step - loss: 1.0977 - acc: 0.9333
Epoch 35/50
195/195 [==============================] - 0s 533us/step - loss: 1.0971 - acc: 0.9179
Epoch 36/50
195/195 [==============================] - 0s 543us/step - loss: 1.0969 - acc: 0.9128
Epoch 37/50
195/195 [==============================] - 0s 520us/step - loss: 1.0971 - acc: 0.9128
Epoch 38/50
195/195 [==============================] - 0s 535us/step - loss: 1.0968 - acc: 0.9282
Epoch 39/50
195/195 [==============================] - 0s 541us/step - loss: 1.0965 - acc: 0.9282
Epoch 40/50
195/195 [==============================] - 0s 541us/step - loss: 1.0959 - acc: 0.9436
Epoch 41/50
195/195 [==============================] - 0s 588us/step - loss: 1.0961 - acc: 0.9077
Epoch 42/50
195/195 [==============================] - 0s 533us/step - loss: 1.0964 - acc: 0.9179
Epoch 43/50
195/195 [==============================] - 0s 546us/step - loss: 1.0953 - acc: 0.9385
Epoch 44/50
195/195 [==============================] - 0s 523us/step - loss: 1.0952 - acc: 0.9333
Epoch 45/50
195/195 [==============================] - 0s 528us/step - loss: 1.0944 - acc: 0.9333
Epoch 46/50
195/195 [==============================] - 0s 514us/step - loss: 1.0958 - acc: 0.8923
Epoch 47/50
195/195 [==============================] - 0s 516us/step - loss: 1.0940 - acc: 0.9333
Epoch 48/50
195/195 [==============================] - 0s 543us/step - loss: 1.0940 - acc: 0.9077
Epoch 49/50
195/195 [==============================] - 0s 523us/step - loss: 1.0940 - acc: 0.9128
Epoch 50/50
195/195 [==============================] - 0s 522us/step - loss: 1.0934 - acc: 0.9231

# 評価

In [26]:
model.evaluate(X_test, Y_test)

49/49 [==============================] - 0s 4ms/step

[0.9857303560996542, 0.7142857148939249]

In [0]:
prediction = model.predict(X)
df_prediction = pd.DataFrame(prediction)

array = [[0 for i in range(6)] for j in range(df_prediction.shape[0])]
df_prediction = pd.DataFrame(mms.inverse_transform(pd.concat([pd.DataFrame(array), df_prediction], axis=1)))

In [0]:
df_prediction = pd.concat([pd.DataFrame([[None for i in range(8)] for j in range(5)]), df_prediction], axis=0)

In [29]:
pd.concat([pd.DataFrame(mms.inverse_transform(df_norm)), df_prediction.reset_index(drop=True).loc[:, 6:8]], axis=1)

             0    1    2    3    4    5      6    7           6         7
0    59.000000  0.0  0.0  0.0  0.0  0.0  512.0  1.0         NaN       NaN
1    72.000000  1.0  0.0  0.0  0.0  0.0   16.0  0.0         NaN       NaN
2    57.000000  0.0  0.0  0.0  0.0  0.0  511.0  0.0         NaN       NaN
3    60.604938  0.0  0.0  0.0  0.0  0.0  452.0  0.0         NaN       NaN
4    68.000000  0.0  1.0  1.0  0.0  0.0  404.0  1.0         NaN       NaN
5    60.000000  0.0  1.0  1.0  0.0  0.0  432.0  1.0  343.901723  0.478761
6    60.604938  0.0  0.0  1.0  0.0  0.0  434.0  0.0  378.597964  0.423775
7    57.000000  0.0  1.0  0.0  1.0  0.0  439.0  1.0  309.869947  0.532694
8    56.000000  0.0  1.0  1.0  0.0  1.0  448.0  1.0  282.959762  0.575341
9    64.000000  0.0  0.0  1.0  0.0  1.0  455.0  0.0  391.871285  0.402740
10   62.000000  1.0  1.0  1.0  0.0  0.0  559.0  1.0  299.784269  0.548678
11   58.000000  0.0  1.0  1.0  0.0  0.0  437.0  1.0  285.405707  0.571465
12   65.000000  0.0  1.0  1.0  0.0  0.0  541.0  0.0  356.412490  0.458934
13   65.000000  0.0  1.0  1.0  0.0  0.0  531.0  0.0  306.430201  0.538145
14   53.000000  0.0  0.0  1.0  0.0  0.0  488.0  1.0  280.309518  0.579541
15   65.000000  0.0  0.0  1.0  0.0  1.0  552.0  1.0  284.936177  0.572209
16   55.000000  0.0  1.0  1.0  0.0  0.0  486.0  1.0  269.222798  0.597111
17   60.000000  0.0  1.0  1.0  0.0  1.0  434.0  1.0  267.732011  0.599474
18   60.000000  0.0  0.0  1.0  0.0  0.0  443.0  1.0  306.247432  0.538435
19   94.000000  0.0  1.0  1.0  0.0  0.0  412.0  1.0  274.231637  0.589173
20   57.000000  0.0  1.0  1.0  0.0  0.0  472.0  1.0  277.756327  0.583587
21   67.000000  0.0  1.0  0.0  0.0  0.0  432.0  1.0  273.815740  0.589832
22   58.000000  0.0  0.0  0.0  0.0  0.0   74.0  1.0  283.577083  0.574363
23   54.000000  0.0  1.0  1.0  0.0  1.0  480.0  0.0  332.017999  0.497594
24   60.000000  0.0  1.0  1.0  0.0  1.0  483.0  0.0  404.738261  0.382348
25   75.000000  0.0  1.0  1.0  0.0  1.0  463.0  1.0  271.760926  0.593089
26   58.000000  0.0  1.0  0.0  0.0  0.0  560.0  1.0  282.557856  0.575978
27   66.000000  1.0  1.0  1.0  0.0  0.0  455.0  0.0  317.534240  0.520548
28   57.000000  1.0  1.0  1.0  0.0  0.0  457.0  1.0  277.353217  0.584226
29   63.000000  0.0  1.0  1.0  0.0  1.0  426.0  1.0  279.090297  0.581473
..         ...  ...  ...  ...  ...  ...    ...  ...         ...       ...
219  60.604938  0.0  1.0  1.0  0.0  1.0  475.0  1.0  271.040778  0.594230
220  59.000000  0.0  1.0  1.0  0.0  1.0  386.0  1.0  272.036592  0.592652
221  60.604938  0.0  0.0  1.0  0.0  0.0  480.0  1.0  270.470565  0.595134
222  60.604938  0.0  1.0  1.0  0.0  1.0  536.0  1.0  278.680511  0.582123
223  57.000000  0.0  1.0  1.0  0.0  1.0  437.0  1.0  277.362544  0.584211
224  60.604938  0.0  1.0  1.0  0.0  0.0  412.0  1.0  272.684453  0.591625
225  60.604938  0.0  1.0  1.0  1.0  0.0  370.0  1.0  296.894370  0.553258
226  68.000000  0.0  1.0  1.0  0.0  0.0  441.0  1.0  292.205108  0.560689
227  61.000000  1.0  0.0  1.0  0.0  1.0  460.0  1.0  297.449276  0.552378
228  60.604938  1.0  1.0  1.0  0.0  1.0  448.0  1.0  267.693234  0.599535
229  67.000000  1.0  0.0  1.0  0.0  1.0  493.0  1.0  289.607819  0.564805
230  60.604938  0.0  1.0  0.0  0.0  0.0  495.0  1.0  229.921241  0.659396
231  52.000000  0.0  1.0  0.0  0.0  0.0  483.0  1.0  271.286526  0.593841
232  60.604938  0.0  1.0  1.0  0.0  1.0  458.0  1.0  318.815104  0.518518
233  60.604938  1.0  1.0  1.0  0.0  0.0  440.0  1.0  283.881484  0.573880
234  60.604938  0.0  1.0  1.0  0.0  1.0  518.0  1.0  277.564551  0.583891
235  56.000000  0.0  1.0  1.0  0.0  1.0  481.0  0.0  271.241825  0.593912
236  60.604938  0.0  1.0  0.0  0.0  1.0  444.0  0.0  257.638040  0.615471
237  60.604938  0.0  1.0  1.0  0.0  1.0  482.0  1.0  252.553811  0.623528
238  60.604938  0.0  1.0  1.0  0.0  0.0  448.0  1.0  257.829873  0.615167
239  60.604938  0.0  1.0  0.0  0.0  0.0  496.0  0.0  296.908154  0.553236
240  71.000000  0.0  1.0  1.0  0.0  0.0  514.0  0.0  315.069095  0.524455
241  65.000000  0.0  1.0  1.0  0.0  0.0  504.0  1.0  302.169868  0.544897
242  60.604938  0.0  1.0  0.0  0.0  0.0  471.0  1.0  256.706973  0.616946
243  60.604938  1.0  1.0  1.0  0.0  0.0  448.0  0.0  265.032891  0.603751
244  60.604938  0.0  1.0  0.0  0.0  1.0  482.0  0.0  347.592219  0.472913
245  60.604938  1.0  1.0  1.0  1.0  0.0  456.0  0.0  316.695374  0.521877
246  60.604938  0.0  1.0  1.0  0.0  1.0  438.0  0.0  275.089947  0.587813
247  60.604938  0.0  1.0  1.0  0.0  1.0  450.0  0.0  286.622050  0.569537
248  60.604938  0.0  1.0  1.0  1.0  0.0  459.0  0.0  266.111147  0.602043

[249 rows x 10 columns]